<ion-view  view-title="揭尾故">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="riddle in riddles" href="#/app/riddles/{{riddle.id}}">
        {{riddle.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
