<ion-view view-title="{{getCurrentElement().title}}">
    <ion-pane class='common-style'>
        <ion-tabs class="tabs-bottom tabs-dark tabs-icon-top">
            <!-- Tab 1 -->
            <ion-tab title="謎面" icon-on="ion-chatbox" icon-off="ion-chatbox" >
                <ion-nav-view name="tab-tab1" >
                    <ion-content>
                          <div class='riddle-container'>
							<div class='content' ng-bind-html="getContent()">
							</div> 
						  </div>
                    </ion-content>

                </ion-nav-view>
            </ion-tab>
            <!-- Tab 2 -->
            <ion-tab title="謎底" icon-on="ion-lightbulb" icon-off="ion-lightbulb">
                <ion-nav-view name="tab-tab2">
                    <ion-content>
                          <div class='riddle-container'>
							<div class='content' ng-bind-html="getAnswer()">
							</div> 
						  </div>
                    </ion-content>
                </ion-nav-view>
            </ion-tab>
        </ion-tabs>

    </ion-pane>
</ion-view>