.bar.bar-header{
	background: #7d7c7c;
}	
.bar.bar-header .title{
	color:white;
}	

.common-style{
	background:black;
	color: white;
}

.tabs-striped.tabs-dark .tab-item.tab-item-active{
    border-color: #6f6f6f;
}